<div style="display: flex;" class="query-container">
  <div style="flex: 1 1 100px; padding: 5px;">
    <h2>Query</h2>
    <p style="margin: 5px;">
    <textarea class="query" style="font-family: monospace; width: 100%;" rows="7"><%= local_assigns.fetch(:query_string, Post::DEFAULT_QUERY_STRING) %></textarea>
    </p>
    <button class="send">Send</button>
  </div>
  <div style="flex: 1 1 250px; padding: 5px;">
    <h2>Response</h2>
    <p style="margin: 5px;">
    <pre class="response" style="width: 100%"></pre>
    </p>
  </div>
</div>
